.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* customized */

body {
  /* font-family: 'Open Sans', sans-serif */
}

.no_component {
  border-style: dotted;
  border-color: purple;
  padding-top: 20px;
  padding-bottom: 20px;
  /* width: 70%; */
  width: 250px;
  /* center the element */
  /* https://www.w3schools.com/css/css_margin.asp */
  margin: auto;
}

.new_item_component {
  border-style: solid;
  border-color: green;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 250px;
  margin: auto;
}

.each_item_component {
  border-style: solid;
  border-color: blue;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 70%;
  margin: auto;
}

.item_list_component {
  border-style: solid;
  border-color: orange;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 250px;
  margin: auto;
}